---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			/* Base Styles */
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
				margin: 0 auto;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				width: 100%; /* Make sure the image scales responsively */
				height: auto;
			}
			.prose {
				width: 100%;
				max-width: 920px;
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
				box-sizing: border-box;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
				font-size: 2rem; /* Adjust heading size for better readability */
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			/* Responsive Styles */
			@media (min-width: 640px) {
				.prose {
					padding: 1.5em;
				}
				.title h1 {
					font-size: 2.5rem;
				}
			}

			@media (min-width: 768px) {
				main {
					width: calc(100% - 4em);
				}
				.hero-image {
					width: 90%;
				}
				.prose {
					padding: 2em;
				}
				.title h1 {
					font-size: 3rem;
				}
			}

			@media (min-width: 1024px) {
				main {
					width: calc(100% - 6em);
				}
				.hero-image {
					width: 80%;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<div class="date">
                            <h1>{title}</h1>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
                        <div class="">
                            {heroImage && <img src={heroImage} alt="" />}
                        </div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

